# Node modules
node_modules/
# Expo
.expo/
.expo-shared/
# macOS
.DS_Store
# Environment variables
.env
# iOS build artifacts
ios/Pods/
# Android build artifacts
android/.gradle/
android/app/build/
# VSCode settings
.vscode/
